<a href="https://colab.research.google.com/github/Laura-Burgmane/Python/blob/main/%23P_27_April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR-LOOPS

In [ ]:
# element in iterable object
for letter in "I LOVE PYTHON": #iterable object is string; # word "letter" can be any name
  print(letter)

I

L
O
V
E

P
Y
T
H
O
N

In [ ]:
for number in [1,2,3,4,5,6]:
  print(number, end = " ")

1 2 3 4 5 6

In [ ]:
for number in [1,2,3,4,5,6]:
  print(number, end = \n) #\n is new line

SyntaxError: unexpected character after line continuation character (<ipython-input-6-d7d1cd218bfa>, line 2)

In [ ]:
# for-loop list:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
  print(f"I have been to {city}")

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [ ]:
# for-loop list with counter (kārtas numurs priekšā):
counter = 1 #initialize the counter

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
  print(f" {counter}. I have been to {city}")
  counter = counter+1

 1. I have been to Tallin
 2. I have been to Riga
 3. I have been to Tartu
 4. I have been to Aluksne
 5. I have been to Viru
 6. I have been to Ventspils

In [ ]:
# for-loop list with counter (kārtas numurs priekšā): counter set for 0, tad var likt counter = counter+1 pirms print line
counter = 0 #initialize the counter

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
  counter = counter+1
  print(f" {counter}. I have been to {city}")

In [ ]:
# get the previous city/add previus city in the for-loop:
counter = 1 #initialize the counter
previous_city = None #need to initialize new variable before it can be used in for-loop

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
for city in cities_i_have_been_to:
  print(f" {counter}. I have been to {city}. The previus city I visited was {previous_city}")
  counter = counter+1
  previous_city = city

 1. I have been to Tallin. The previus city I visited was None
 2. I have been to Riga. The previus city I visited was Tallin
 3. I have been to Tartu. The previus city I visited was Riga
 4. I have been to Aluksne. The previus city I visited was Tartu
 5. I have been to Viru. The previus city I visited was Aluksne
 6. I have been to Ventspils. The previus city I visited was Viru

In [ ]:
# task:
# ADD PREVIOUS CITY IN THE FORLOOP
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 1 #INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
  if previous_city == None:
    print(f'{counter}. I have been to {city}. I have not visited any other cities before.')# lai pirmajā reizē nebūtu iepriekšējā pilsēta NONE
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  counter = counter + 1
  previous_city = city

1. I have been to Tallin. I have not visited any other cities before.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
# for-loops with INDEXES:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

len(cities_i_have_been_to) #how many elements in the list
range(list(cities_i_have_been_to))
list(range(len(cities_i_have_been_to)))#elements

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
# with for loops can iterate through list by indexes????
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]
range(len(cities_i_have_been_to))# creates an iterable object that is not a list itself
for i in range(len(cities_i_have_been_to)):
  print(f'This is the index {i}')
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])

This is the index 0
Tallin
2020
This is the index 1
Riga
2024
This is the index 2
Tartu
2020
This is the index 3
Aluksne
2021
This is the index 4
Viru
2024
This is the index 5
Ventspils
2022

In [ ]:
#using indexes to iterate through various lists, if they are the same length (if not, code wont work, need other solution)
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]} and I visited that city in year {which_year_I_visited[i]}')

I have been to Tallin and I visited that city in year 2020
I have been to Riga and I visited that city in year 2024
I have been to Tartu and I visited that city in year 2020
I have been to Aluksne and I visited that city in year 2021
I have been to Viru and I visited that city in year 2024
I have been to Ventspils and I visited that city in year 2022

NESTED LISTS:

In [ ]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

for i in matrix_2d:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

for i in matrix_2d:
  print(f'This is the sub-list: {i}')
  for j in i:
    print(f'These are the elements of the sub-list: {j}')

This is the sub-list: [1, 2, 3]
These are the elements of the sub-list: 1
These are the elements of the sub-list: 2
These are the elements of the sub-list: 3
This is the sub-list: [4, 5, 6]
These are the elements of the sub-list: 4
These are the elements of the sub-list: 5
These are the elements of the sub-list: 6
This is the sub-list: [7, 8, 9]
These are the elements of the sub-list: 7
These are the elements of the sub-list: 8
These are the elements of the sub-list: 9

GRADE MAPPING EXCERCISE:

In [ ]:
#real life example with if statemenr, range, and nested list
# grade mapping data:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] #this is a nested list

grade_mapping[0]
grade_mapping[0][1] #first[]for sublist (counting form 0), second[]for an item in sublist (counting from 0)
grade_mapping[3][1]

'D'

In [ ]:
# unpacking items from particular sub-list:
for threshold, letter_grade in grade_mapping:
  print(letter_grade)

A
B
C
D
F

In [ ]:
# unpacking items from particular sub-list:
for threshold, letter_grade in grade_mapping:
  print(threshold)

90
80
70
60
0

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

for i in range(len(student_names)):
  print(f'Student {student_names[i]} grade is {student_scores[i]}')

Student Alice grade is 85
Student Bob grade is 72
Student Charlie grade is 93
Student David grade is 60
Student Eva grade is 77

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i]
  for number_grade, letter_grade in grade_mapping:
    if score >= number_grade:
      print(f'Hi,{student_names[i]}, your grade letter is {letter_grade}')
      break

85
Alice
Hi,Alice, your grade letter is B
72
Bob
Hi,Bob, your grade letter is C
93
Charlie
Hi,Charlie, your grade letter is A
60
David
Hi,David, your grade letter is D
77
Eva
Hi,Eva, your grade letter is C

In [ ]:
# numering (the same thing as counter)
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start = 1):
  print(f'Student {index}: {student}')

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

In [ ]:
# 3 ways to do the counting:

student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

In [ ]:
# team task:
what methods are availabe for string objects