<a href="https://colab.research.google.com/github/Laura-Burgmane/Python/blob/main/4_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### nožēlojama sagrābstīta lekcija, pārskriešana pāri lietām mērkaķa ātrumā, strādā tikai ar advancētajiem studentiem; uz jautājumiem atbild: pagūglē. Iepriekšējo grupas darbu neizskata, jo 50/50 esot visu sapratuši

In [4]:
#compare 2 numbers nested decisions
num1 = int(input('Write number 1:'))
num2 = int(input('Write number 2:'))

if num1>= num2:
  if num1 == num2:
    print (f'{num1} is equal to {num2}')
  else:
    print(f'{num1} is greater than {num2}')
else:
    print(f'{num1} is smaller than {num2}')

Write number 1:100
Write number 2:200
100 is smaller than 200

In [11]:
# try and accept
stock = input('Stock: ')

try:
  product_stock = int(stock)
except:
    print('Wrong input!')
product_stock - int(stock)

if product_stock > 10:
  print('Stock sufficient')
else:
  print ('Low stock!')

Stock: 24
Stock sufficient

In [ ]:
# speeding ticket programm:
Prompt the user to enter their name, the speed limit (in km/h), and their actual speed (in km/h).
Calculate the difference between the actual speed and the speed limit, and then calculate the fine based on the difference (3 euros per km/h over the limit).
Handle potential non-integer inputs for speed limit and actual speed using a try block.
If the speed limit is -1, print "Wrong speed values entered. Please enter km/h."
If the actual speed does not exceed the speed limit, print "Speed limit is not exceeded. No fine applied."
If the actual speed exceeds the speed limit, check if the fine is less than or equal to 190 euros. If so, print "{name}, your fine for speeding is {fine} euros." - Otherwise, print "{name}, your fine for speeding is 190 euros."

In [14]:
name = input('Enter your name: ')
speed_limit = float(input('Enter the speed limit (km/h): '))
actual_speed = float(input('Enter your actual speed (km/h): '))

try:
  speed_limit = int(speed_limit)
  actual_speed = int(actual_speed)

except:
  print('Wrong input. Enter km/h!')
else:
  difference = actual_speed - speed_limit
  fine = difference * 3
  if speed_limit >= actual_speed:
    print('Speed limit not exceeded. No fine appliec.')
  else:
    if fine <= 190:
      print(f"Your fine is {fine}")
    else:
      print("Laura, your fine 100 eur")

Enter your name: Laura
Enter the speed limit (km/h): 50
Enter your actual speed (km/h): 80
Your fine is 90

In [15]:
# l
ists [ " ", " "  ]
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(type(flowers))

<class 'str'>

In [18]:
# saliek visu String kvadrātiekavās un katru item pēdiņās (dubultās vai plānajās)
flowers = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
print(type(flowers))

<class 'list'>

In [19]:
# how many items in the list? len jeb length function
print(len(flowers))

10

In [33]:
# indexing - print a certain item from the list: count starts from 0, not from 1
print('First entry:', flowers[0])
print('Last entry:', flowers[-1])
print('Several items from list:', flowers[1:5])
print('All from the beginning up to 6th:', flowers[:5])
print('Every second item:', flowers[::2])
#print every oter item by for-loop:
for item in flowers[::2]:
    print(item)

First entry: pink primrose
Last entry: globe thistle
Several items from list: ['hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']
All from the beginning up to 6th: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']
Every second item: ['pink primrose', 'canterbury bells', 'english marigold', 'moon orchid', 'monkshood']
pink primrose
canterbury bells
english marigold
moon orchid
monkshood

In [35]:
# list with different types of elements:
my_list = ['one', 'two', 'three', 4, 5]
print(my_list[3])
print(my_list[-2])

4
4

In [37]:
my_list + ['new item'] #adding a new item to existing list

['one', 'two', 'three', 4, 5, 'new item']

In [38]:
my_list

['one', 'two', 'three', 4, 5]

In [51]:
my_list == my_list + ['new item']### nesapratu kā apdeitot!!!!
print(my_list)

['one', 2, 'three', 'append me', 'append me', 'append me']

In [43]:
my_list[1] = 2 # replace certain item from the list with another item
print(my_list)

['one', 2, 'three', 4, 5]

In [50]:
# append method ('append me') pievieno items list beigās
my_list.append('append me')
print(my_list)

['one', 2, 'three', 'append me', 'append me', 'append me']

In [49]:
#remove item
my_list.pop(3)
print(my_list)

['one', 2, 'three', 'append me', 'append me']

Teamwork 13.04.

In [ ]:
Group Work 13.04.2024


# 1.Define a list of numbers [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
print(numbers)

#2.Print the length of the list.
print(len(numbers))

#3.Print the first element of the list.
print(numbers[0])

#4.Print the last element of the list.
print(numbers[-1])

#5.Append a new number (e.g., 60) to the list.
numbers.append(60)


#6.Print the updated list.
print(numbers)

#7.Remove the second element from the list.
numbers.pop(1)

#8.Print the list after removal.
print(numbers)

#9.Check if a specific number (e.g., 30) exists in the list and print the result.
if 30 in numbers:
  print('numbers found')
else:
  print('does not exist')