<a href="https://colab.research.google.com/github/Laura-Burgmane/Python/blob/main/P%2320.04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lesson 5 -  Loops in Python**

List methods -
For loops in Python -
Iterating through lists

In [ ]:
# list of objects
fruits = ["apple", "orange", "banana", "grape", "kivi"]

In [ ]:
# check if user input fruit is on the list with f-string:
fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']

user_input = input("Enter the fruit: ")
if user_input in fruits:
    print(f"Yes, {user_input} is in our list of fruits!")
else:
    print(f"No, {user_input} is not in our list of fruits!")

Enter the fruit: strawberry
No, strawberry is not in our list of fruits!

In [ ]:
# check if user input fruit is on the list:
fruits = ["apple", "orange", "banana", "grape", "kiwi"]
favourite = input("What is your favourite fruit? ")
if favourite in fruits:
  print("Yes, we have it!")
else:
  print(f"No, {favourite} is not on our list.")

What is your favourite fruit? Maracuja
No, Maracuja is not on our list.

In [ ]:

# mans mēģinājums:
numbers = [1,2,3,4,5]
user_input = input("Enter your number: ")
if user_input in numbers:
  print(f"Yes, number {user_input} is on the list.")
  if user_input %2 == 0:
    print(f"Yes, your even number {user_input} is on the list.")
else:
  print(f"Your number {user_input} is not on the list...")

Enter your number: 7
Your number 7 is not on the list...

The user is prompted to enter a number using the input() function, and the input is converted to an integer using int(). We first check if the entered number is in the numbers list using an if statement. If the number is in the list, we further check if it's even or odd using another if-else statement nested inside the first one. Depending on the result, it prints a message indicating whether the number is even or odd and whether it's in the list or not.

In [ ]:
# pareizā atbilde - vai cipars ir listē, vai tas ir pāra, nested decisions:

numbers = [1, 2, 3, 4, 5, 20, 55, 70]

user_input_number = input("Enter a number: ")
user_input_number = int(user_input_number)

if user_input_number in numbers:
  if user_input_number % 2 == 0:
    print("This is an even number that is on the list")
  else:
    print("This is an odd number that is on the list")
else:
  print("This number is not on the list")

Enter a number: 20
This is an even number that is on the list

In [ ]:
# LIST METHODS
# append method (pielikt beigās jaunu item)
items = ["apple", "kivi", "orange"]
print(f"original items {items}")

my_value = "banana"
items.append(my_value)
print(f"changed items {items}")

original items ['apple', 'kivi', 'orange']
changed items ['apple', 'kivi', 'orange', 'banana']

In [ ]:
#my_try:
animals = ['dog', 'cat', 'camel']
print(f'Initial list of animals is; {animals}')
my_animal = 'fox'
animals.append('fox')
print(f'The full list of animals is: {animals}')

Initial list of animals is; ['dog', 'cat', 'camel']
The full list of animals is: ['dog', 'cat', 'camel', 'fox']

In [ ]:
# copy method:
original_list = [1,2,3,4,5]
copied_list = original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
# count method: (labota drukas kļūda, tāpēc kods nestrādā atmiņas dēļ)

number = [1, 2, 7, 6, 5, 5]

target_numbers = 5 #how many times 5 is repeated in this list
count = numbers.count(target_numbers)
print(f"The number {target_numbers} appears {count} times on the list.")

The number 5 appears 1 times on the list.

In [ ]:
# index method: (kurā vietā listē atrodas konkrētais objekts (skaits sākas no nulles))
fruits = ["apple", "banana", "orange"]
fruits_index = fruits.index("banana")
print(f"Index of banana is: {fruits_index}")

Index of banana is: 1

In [ ]:
# insert method:
numbers = [1,2,3,4,5]

numbers.insert(2, 10) #norāda indeksu (kasti, kur likt, sākas no nulles) un objektu, ko tur ielikt (skaitli 10)

print(numbers)

[1, 2, 10, 3, 4, 5]

In [ ]:
# pop method: (aizvākšanas metodes, vai nu pop, vai arī remove)
numbers.pop(2) #jānorāda indekss (kaste, kur glabājas), kurā esošo objektu aizvākt

print(numbers)

10

In [ ]:
# sort ascending method: (kārtot augošā secībā)
numbers = [6,9,10,3,5]
numbers.sort()
print(numbers)

[3, 5, 6, 9, 10]

In [ ]:
# sort descending method: (kārtot dilstošā secībā)
numbers = [1,4,6,78,9,33,100,423]
numbers.reverse()
print(numbers)

[423, 100, 33, 9, 78, 6, 4, 1]

In [ ]:
# IDIOTIC SPEED TASK:

#Create a list of 5 number elements
numbers = [1,2,3,4,5]
#Calculate maximum value of the numbers

#Calculate minimum value of the numbers

#Calculate average value of numbers

#Check if the average value of the list if higher than 3

#If the average is greater than 3, print "Average is greater than 3", otherwise print "Average is not greater than 3"

#Sort the list

#Remove first number of the list

#Add your name to the list

#Calculate at what index is your name

In [ ]:
# Create a list of 5 number elements
numbers = [1, 6, 13, 2, 5]

# # Calculate maximum value of the numbers
max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

# Calculate minimum value of the numbers
min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

# Calculate average value of numbers
average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# Check if the average value of the list if higher than 3 If the average is greater than 3, print "Average is greater than 3", otherwise print "Average is not greater than 3".
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

# Sort the list

numbers.sort()

# Remove first number of the list

numbers.pop(0)

# Add your name to the list
numbers.append("Elina")

# Calculate at what index is your name
numbers.index("Elina")

The maximum value in the list is: 13
The minimum value in the list is: 1
The average value in the list is: 5.4
The average value of numbers in the list is higher than 3

4

In [ ]:
# FOR-LOOPS using RANGE
# range generates a list of integers
list(range(7))

# range (start, stop, step)//iterable objects
list(range(10,25))
list(range(10, 88, 10))

[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
numbers_with_range = range(1,7)#iterable objects [1,2,3,4,5,6]#katru item var arī modificēt, piemēram, reizināt ar 2
for number in numbers_with_range:
  number = number*2
  print(number)

2
4
6
8
10
12

In [ ]:
numbers_with_range = range(1,7)#iterable objects [1,2,3,4,5,6]#prints out each number seperately
for number in numbers_with_range:
  print(number)

1
2
3
4
5
6