<a href="https://colab.research.google.com/github/Laura-Burgmane/Python/blob/main/P_24_08_Robertas_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data IMPORT

In [97]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')

In [98]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Data INVESTIGATION

In [99]:
titanic_data.isnull().sum() #checking null values

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [100]:
titanic_data.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [101]:
#titanic_data.drop('deck', axis=1, inplace=True) #a lot of empty values

In [102]:
titanic_data.drop(['alive', 'alone', 'adult_male'], axis=1, inplace=True) #a lot of empty values

In [103]:
titanic_data.drop('class', axis=1, inplace=True) #a lot of empty values

# Data Transformation

In [104]:
titanic_data['class'] = titanic_data['class'].astype(str) #modified the object from category to str
titanic_data.fillna(0, inplace=True) #replaces empty with null

KeyError: 'class'

In [ ]:
titanic_data.head(10)

In [ ]:
# Sex column
sex_mapping = {'male': 0, 'female': 1}
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping)

In [ ]:
# Embark town
titanic_data['embark_town'].unique()
embark_town_mapping = {'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3, 0:0 }
titanic_data['embark_town']= titanic_data['embark_town'].map(embark_town_mapping)

In [ ]:
# Embarked
titanic_data['embarked'].unique()
embarked_mapping = {'S':1, 'C':2, 'Q':3, 0:0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)

In [ ]:
# Who
titanic_data['who'].unique()
who_mapping = {'man':1, 'woman':2, 'child':3}
titanic_data['who'] = titanic_data['who'].map(who_mapping)

In [ ]:
titanic_data.info()

In [ ]:
from sklearn.model_selection import train_test_split
X = titanic_data.drop('survived', axis = 1) # features
y = titanic_data['survived'] # dependant variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [ ]:
from sklearn.linear_model import LogisticRegression #import

In [ ]:
model = LogisticRegression() #initialise

In [ ]:
model.fit(X_train, y_train) #train

In [ ]:
prediction_results = model.predict(X_test)
prediction_results

In [ ]:
#this is model building code from Roberta, doest work because data transformation code didnt run:
from sklearn.linear_model import LogisticRegression #import
model = LogisticRegression() #initialize
model.fit(X_train, y_train) #train
prediction_results = model.predict(X_test)
prediction_results

PILNĪGS PIPEC...HASTA LA VISTA